*.deps
*.libs
*.DS_Store
/logs/
/.vscode/settings.json
/.vscode/*.log
/docs/html/
/docs/latex/
/obj/
/bin/
/results/
/include/steer_console_logging.h
/sts-2.1.2-reference/obj/*.o
/sts-2.1.2-reference/assess
/sts-2.1.2-reference/experiments
/src/steer-schema-validator/obj/
/src/steer-schema-validator/bin/
/sts-2.1.2-reference/memcheck.log
/undo_updates.sh
/build_files_bu
src/run-validations/validation_checks_bu.json
src/test-scheduler/validation_test_schedule_bu.json
__pycache__/
*.pyc
.pytest_cache/
.claude/
